<!DOCTYPE html>
<html>
  <head>
    <style>{input width:100% ;}
    </style>
  </head>
  <body>
    <p> Fill out the following form</p>
    <% include Node-Assignments/navigation.ejs %>
    <form id="form" method="post" action="/">
    <label for="First-name">First Name</label>
    <input type="text" name="First-name"/>
    <label for="Last-name">Last Name</label>
    <input type="text" name="Last-name"/>
    <label for="Email">Email ID</label>
    <input type="email" name="Email"/>
    <input type="submit" name="submit"/>
    </form>
  </body>
</html>
