<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <script src="C:\Users\windows\Downloads\YASHU\Node-Assignments\node_modules\moment\min\moment.min.js"></script>
      <script>
        const today=moment();
        console.log(today.format());
      </script>
  </body>
</html>
